<?xml version="1.0" encoding="utf-8" standalone="no"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <welcome-file-list>
    <welcome-file>DmmTimetabling.html</welcome-file>
  </welcome-file-list>
  
	<!-- Servlets -->
  <servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
    <init-param>
      <param-name>symbolMapsDirectory</param-name>
        <!-- You'll need to compile with -extras and move the symbolMaps directory 
             to this location if you want stack trace deobfuscation to work -->
      <param-value>WEB-INF/classes/symbolMaps/</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>requestFactoryServlet</servlet-name>
    <url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reader</servlet-name>
    <servlet-class>com.timetabling.server.servlets.Reader</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>reader</servlet-name>
    <url-pattern>/299021read</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ttPDF</servlet-name>
    <servlet-class>com.timetabling.server.servlets.ResultProvider</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ttPDF</servlet-name>
    <url-pattern>/ttPDF</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GeneratorRunner</servlet-name>
    <servlet-class>com.timetabling.server.servlets.GeneratorRunner</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GeneratorRunner</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  
</web-app>